body {
    background : #f8f8f8;
}

.menu {
    background : #4B5CD7;
    list-style-type : none;
}

.menu a {
    color : #FFFFFF;
    font-family : 'Arial', sans-serif;
    text-decoration : none;
    text-transform : uppercase;
}

.menu li {
    display : inline;
    margin : 30px;
}

.item h2 {
    color : black;
    font-size : 18px;
    font-weight : 400;
    background :  #eaeaea;
}

.short_desc {
    color :  #707070;
    font-size : 14px;
    font-style : italic;
    line-height : 16px;
}

.desc {
    color : #484343;
    font-size : 16px;
    font-weight : 400;
    line-height : 24px;
    text-align : left;
}

.char {
    list-style-image : url(../images/icon.gif);
}

.char li {
    font-style: oblique;
}

.char li b{
    color : darkmagenta;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-style: normal;
}

footer {
    color: darkgrey;
    font-weight: 400;
    font-style: italic;
}

.input-form input {
    color : #2419B2;
    font-family: Andalus sans-serif;
    font-style: italic;
    font-size: 20px;
    width: 300px;
    height: 27px;
}

.input-form textarea {
    color: #2419B2;
    font-family: Andalus sans-serif;
    font-style: italic;
    font-size: 20px;
    width: 600px;
    height: 300px;
}

.frame {
    outline: 3px solid #2419B2;
}

.frame:hover {
    outline : none;
}

header li a:hover {
    color : red;
}

input[class="mail"]:focus {
    background : black;
    color : white;
}

input, textarea {
    text-transform : capitalize;
}

table {
    border-collapse : collapse;
    border : 3px solid black;
    width : 500px;
}

td {
    text-align : center;
    padding-top : 25px;
    padding-bottom : 25px;
    border : 1px solid black;
}

.item p:first-letter {
    color : blue;
    font-size : 30px;
    font-family : Verdana, sans-serif;
    font-style : italic;
    font-weight : bold;

}

table[class="table-test"] {
    border-collapse : collapse;
    border : 1px solid black;
}

table[class="table-test"] td {
    border : 1px solid black;
}


